<% content_for :title, "History | Fotini's Restaurant and Bar - Bolton, MA" %>

<% content_for :bg do %>
  <div id="bg" class="normal"></div>
<% end %>

<%= render "logo" %>
<div id="history">
  <h2>History</h2>
  <div id="history_text">
    <div class="sub_title">How Fotini's Came To Be</div>
    <div class="text">
      Fotini's Restauarant and Bar was started by a husband and wife team, Tom and Fotini, the latter after whom the restaurant was named. The restaurant is located at the site of the former Bolton Roadhouse, and has been renovated and upgraded extensively. It continues to be a hotspot for local patrons to enjoy company, great food, and sports.<br><br>
      Fotini’s Restaurant and Bar offers a fully stocked bar with seating, in addition to table service. Our wine cabinet was custom built by a carpenter and filled with red, white, and dessert wines from across the world to beautifully showcase our selection. In addition to a variety of top-shelf liquors, we also offer beer on tap, including the locally-acclaimed Wachusett Brewery. There’s plenty of seats for you and all your friends to come watch the game on our big screen TV’s, while surrounded by local sports memorabilia. We even have a piece of Fenway here!
    </div>
  </div>
  <div id="history_gallery">
    <%= image_tag("400_autumn_salad.png", alt: "Autumn Salad", class: "h1") %>
    <%= image_tag("400_brownie.png", alt: "Brownie", class: "h2") %>
    <%= image_tag("400_burger.png", alt: "Burger and Fries", class: "h3") %>
    <%= image_tag("400_calamari.png", alt: "Calamari", class: "h4") %>
    <%= image_tag("400_chataeux.png", alt: "Chataeux Red Wine", class: "h5") %>
    <%= image_tag("400_drink_1.png", alt: "Dessert Drinks", class: "h6") %>
    <%= image_tag("400_drink_2.png", alt: "Old Fashioned", class: "h7") %>
    <%= image_tag("400_gnarley_head.png", alt: "Gnarley Head Red Wine", class: "h8") %>
    <%= image_tag("400_masboba.png", alt: "Masboba Red and White Wine", class: "h9") %>
    <%= image_tag("400_pepper.png", alt: "Stuffed Pepper", class: "h10") %>
    <%= image_tag("400_salad.png", alt: "Grilled Chicken Salad", class: "h11") %>
    <%= image_tag("400_steak_tips.png", alt: "Steak Tips", class: "h12") %>
    <%= image_tag("400_swordfish.png", alt: "Swordfish", class: "h13") %>
    <%= image_tag("400_truant.png", alt: "Truant Red Wine", class: "h14") %>
    <%= image_tag("400_turkey.png", alt: "Turkey with Gravy", class: "h15") %>
  </div>
</div>

<% content_for :post_content do %>
  <div id="push"></div>
<% end %>
