<% content_for :title, "Menu | Fotini's Restaurant and Bar - Bolton, MA" %>

<% content_for :bg do %>
  <div id="bg" class="normal"></div>
<% end %>

<div class="row">
  <div id="item_container">
      <div class="menu_gallery">
        <%= image_tag("1200_autumn_salad.jpg", alt: "Autumn Salad", class: "m1") %>
        <%= image_tag("1200_burger.jpg", alt: "Burger and Fries", class: "m2") %>
        <%= image_tag("1200_calamari.jpg", alt: "Calamari", class: "m3") %>
        <%= image_tag("1200_pepper.jpg", alt: "Stuffed Pepper", class: "m4") %>
        <%= image_tag("1200_pizza.jpg", alt: "Pizza", class: "m5") %>
        <%= image_tag("1200_salad.jpg", alt: "Grilled Chicken Salad", class: "m6") %>
        <%= image_tag("1200_steak_tips.jpg", alt: "Steak Tips", class: "m7") %>
        <%= image_tag("1200_swordfish.jpg", alt: "Swordfish", class: "m8") %>
        <%= image_tag("1200_turkey.jpg", alt: "Turkey with Gravy", class: "m9") %>
      </div>
      <div class="column3">
          <h5>Soups</h5>
          <div id="item" class="menu">
            <div class="name menu">Homemade Clam Chowder</div>
            <div class="price">Cup-$99999<br>Bowl-$5</div>
          </div>
          <div id="item" class="menu">
           
          </div>
          <div id="item" class="menu">
            <div class="name menu">Homemade Soup Du Jour</div>
            <div class="price">Cup-$3<br>Bowl-$5</div>
          </div>
          <br>

        <h5>Appetizers</h5>
            <div id="item" class="menu">
            <div class="name menu">Potato Skins</div>
            <div class="price">$7</div>
            <p> With bacon and cheddar cheese</p>
          </div>
            <div id="item" class="menu">
            <div class="name menu">Authentic Greek Spinach Pie</div>
            <div class="price">$6</div>
            <p> Homemade and delicious!</p>
          </div>
            <div id="item" class="menu">
            <div class="name menu">Buffalo Chicken Tenders</div>
            <div class="price">$7</div>
            <p> Breaded chicken tenders tossed with homemade buffalo sauce and served with bleu cheese dressing.</p>
          </div>
            <div id="item" class="menu">
            <div class="name menu">Fried Calamari</div>
            <div class="price">$8</div>
            <p> Calamari and cherry peppers breaded and fried, served with marinara sauce.</p>
          </div>
            <div id="item" class="menu">
            <div class="name menu">Seafood Stuffed Mushrooms</div>
            <div class="price">$7</div>
            <p> Baked with a touch of lemon butter</p>
          </div>
            <div id="item" class="menu">
            <div class="name menu">Seafood Sampler</div>
            <div class="price">$12</div>
            <p> A combination of House favorites: crab cake, seafood stuffed mushrooms, calamari, and fried shrimp</p>
          </div>
            <div id="item" class="menu">
            <div class="name menu">Crab Cake</div>
            <div class="price">$9</div>
            <p> Homemade with two types of crab, served with an aoili sauce.</p>
          </div>
            <div id="item" class="menu">
            <div class="name menu">Mozzarella Sticks</div>
            <div class="price">$6</div>
            <p> Deep fried and served with homemade marinara sauce.</p>
          </div>
            <div id="item" class="menu">
            <div class="name menu">Onion Rings</div>
            <div class="price">$5</div>
            <p>Hand cut, breaded and fried, served with Ranch dressing.</p>
          </div>
          <br>
          <br>
          <h5>Salads</h5>
          <h6>Add Grilled Chicken-$3<BR>
          Add Steak Tips-$5</h6>
            <div id="item" class="menu">
            <div class="name menu">Caesar Salad</div>
            <div class="price">$8</div>
            <p>Fresh Romaine tossed with creamy caesar dressing, croutons, and parmesan cheese</p>
          </div>
            <div id="item" class="menu">
            <div class="name menu">House Salad</div>
            <div class="price">$8</div>
            <p>Fresh lettuce and mixed greens topped with tomatoes, cucumbers, and onions with your choice of dressing</p>
          </div>

            <div id="item" class="menu">
            <div class="name menu">Greek Salad</div>
            <div class="price">$9</div>
            <p>Fresh greens with tomatoes, cucumbers, onions, crumbled feta cheese, and Kalamata olives.</p>
          </div>
            <div id="item" class="menu">
            <div class="name menu">Autumn Salad</div>
            <div class="price">$8</div>
            <p>Fresh mixed greens tossed with walnuts, raisins and bleu cheese with a maple balsamic dressing topped with sliced apples and pears.</p>
            </div>
            <div id="item" class="menu">
            <div class="name menu">Cobb Salad</div>
            <div class="price">$12</div>
            <p>Topped with diced grilled chicken breast, bacon, tomatoes, boiled egg, avocado, red peppers, cheddar, and crumbled bleu cheese</p>                  </div>
            <div id="item" class="menu">
            <div class="name menu">Chicken and Shrimp Salad</div>
            <div class="price">$13</div>
            <p>Our fresh salad, made to order, topped with marinated grilled skewered chicken and shrimp.</p>
            </div>
            <div id="item" class="menu">
            <div class="name menu">Wedge Salad</div>
            <div class="price">$8</div>
            <p>Bleu cheese, tomato, cucumber, bacon, and red onion.</p>                  </div>
            <div id="item" class="menu">
            <div class="name menu">Side Salad</div>
            <div class="price">$4</div>
            <p>With Your choice of dressing.</p>                  </div>


      <h5>Kids Menu - $6.99</h5>
      <h6>All kids meals come with a <br>small drink and dessert</h6>
           <div id="item" class="menu">
           <div class="name menu">Fish and Chips</div>            
           </div>

           <div id="item" class="menu">
           <div class="name menu">Grilled Cheese with Fries </div>          
           </div>

           <div id="item" class="menu">
           <div class="name menu">Hot Dog with fries</div>            
           </div>

           <div id="item" class="menu">
           <div class="name menu">Mac and Cheese</div>            
           </div>

           <div id="item" class="menu">
           <div class="name menu">Spaghetti and Meatballs </div>            
           </div>

           <div id="item" class="menu">
           <div class="name menu">Chicken Fingers with Fries </div>
           </div>




        </div>

        <div class="column3">
           <h5>House Favorites</h5>
          <div id="item" class="menu">
            <div class="name menu">Roast Turkey</div>
            <div class="price">$13</div>
            <p>Served with stuffing, gravy, and cranberry sauce.</p>
          </div>
          
          <div id="item" class="menu">
            <div class="name menu">Grilled Meatloaf</div>
            <div class="price">$13</div>
            <p>Topped with mushroom gravy, served with potato and vegetables.</p>
          </div>
                    
          <div id="item" class="menu">
            <div class="name menu">Pot Roast</div>
            <div class="price">$14</div>
            <p>Simmered for hours and sliced, topped with gravy.</p>
          </div>

          <div id="item" class="menu">
            <div class="name menu">Chicken Parmesan</div>
            <div class="price">$15</div>
            <p>Fresh chicken breaded wih an Italian bread crumb, topped with marinara sauce and mozzarella. Served with imported linguine.</p>
          </div>

          <div id="item" class="menu">
            <div class="name menu">Macaroni and Cheese</div>
            <div class="price">$12</div>
            <p>Homemade and baked with a blend of cheeses, peas, honey ham, sweet cream and finished with crumbs.</p>
          </div>

          <div id="item" class="menu">
            <div class="name menu">Buffalo Chicken Mac n Cheese</div>
            <div class="price">$13</div>
            <p>Our Macaroni and Cheese with a Buffalo Chicken twist!</p>
          </div>

          <div id="item" class="menu">
            <div class="name menu">Marinated Beef Tips</div>
            <div class="price">$17</div>
            <p>Beef tips in our own marinade and char-grilled to perfection.</p>
          </div>

          <div id="item" class="menu">
            <div class="name menu">Edgartown Casserole</div>
            <div class="price">$20</div>
            <p>Salmon, haddock, shrimp and scallops topped with lobster sherry sauce and light Ritz seafood topping and baked.</p>
          </div>
          <br>

          <h5>From the Sea</h5>

          <div id="item" class="menu">
            <div class="name menu">Fresh Haddock</div>
            <div class="price">$16</div>
            <p>Fresh Haddock prepared baked with lemon butter and a light Ritz cracker topping or fried with fries, onion rings, and coleslaw.</p>
          </div>

          <div id="item" class="menu">
            <div class="name menu">Fish and Chips</div>
            <div class="price">$13</div>
            <p>Fresh Haddock lightly breaded and deep fried, served with fries and homemade coleslaw.</p>
          </div>


          <div id="item" class="menu">
            <div class="name menu">Sea Scallops</div>
            <div class="price">$20</div>
            <p>Fresh scallops prepared baked with lemon butter and a light Ritz cracker topping or fried with fries, onion rings and coleslaw.</p>
          </div>

          <div id="item" class="menu">
            <div class="name menu">Fried Shrimp</div>
            <div class="price">$17</div>
            <p>Shrimp breaded lightly and deep fried, served with french fries, onion rings, and cole slaw.</p>
          </div>
          
          <div id="item" class="menu">
            <div class="name menu">Fried Clams</div>
            <div class="price">$22</div>
            <p>Native whole belly clams lightly breaded and deep fried, served with french fries, onion rings, and coleslaw.</p>
          </div>

          <div id="item" class="menu">
            <div class="name menu">Fisherman's Platter</div>
            <div class="price">$25</div>
            <p>A combo of Fresh haddock, scallops, whole clams and shrimp, all lightly breaded and deep fried, served with french fries, onion rings, and coleslaw.</p>
          </div>
          <br>
          
          <h5>Specialties</h5>

          <div id="item" class="menu">
            <div class="name menu">14 ounce Grilled Rib-Eye</div>
            <div class="price">$25</div>
            <p>Char grilled to your liking, served with mushroom demi-glaze sauce, roasted potatoes and grilled asparagus.</p>
          </div>
                
          <div id="item" class="menu">
            <div class="name menu">Chicken Fotini</div>
            <div class="price">$16</div>
            <p>Sauteed chicken breast layered with eggplant, spinach, and mozzarella cheese in a Marsala mushroom sauce over linguine.</p>
          </div>

          <div id="item" class="menu">
            <div class="name menu">Chicken Cavatappi</div>
            <div class="price">$15</div>
            <p>Fresh chicken sauteed with tomatoes and spinach, tossed with parmesan cheese, cream and cavatappi pasta.</p>
          </div>

          <div id="item" class="menu">
            <div class="name menu">Butternut Squash Ravioli</div>
            <div class="price">$16</div>
            <p>Sauteed in a hazelnut mascarpone cream and tossed with grilled chicken and walnuts.</p>
          </div>

          <div id="item" class="menu">
            <div class="name menu">Shrimp Scampi</div>
            <div class="price">$18</div>
            <p>Sauteed with roasted grape tomatoes, garlic and butter, flamed with white wine, over linguine.</p>
          </div>

          <div id="item" class="menu">
            <div class="name menu">Shrimp Mediterranean</div>
            <div class="price">$19</div>
            <p>Sauteed shrimp with roasted red peppers, tomatoes, artichoke hearts, black olives in a light marinara sauce with Feta cheese over rice pilaf.</p>
          </div>

          <div id="item" class="menu">
            <div class="name menu">Pan-seared salmon</div>
            <div class="price">$18</div>
            <p>Fresh salmon seared and served with a herb butter, roasted potatoes and asparagus spears.</p>
          </div>

          <div id="item" class="menu">
            <div class="name menu">Salmon Casserole</div>
            <div class="price">$17</div>
            <p>Atlantic boneless salmon fillet sauteed with fresh baby spinach, red pepper, tomatoes, a zesty red pepper and garlic pesto sauce.</p>
          </div>

        </div>
        <br> 
        <div class="column3">
        <h5>Pizza</h5>
          <div id="item" class="pizza">
            <div class="name menu pizza">Cheese..............................</div>
            <div class="price pizza">Personal: $9<br>16 inch: $12</div>
          </div>

          <div id="item" class="pizza">
            <div class="name menu pizza">Pepperoni........................</div>
            <div class="price pizza">Personal: $10<br>16 inch: $14</div>
          </div>

          <div id="item" class="pizza">
            <div class="name menu pizza">Onion...............................</div>
            <div class="price pizza">Personal: $9<br>16 inch: $13</div>
          </div>

          <div id="item" class="pizza">
            <div class="name menu pizza">Hamburger.....................</div>
            <div class="price pizza">Personal: $10<br>16 inch: $14</div>
          </div>

          <div id="item" class="pizza">
            <div class="name menu pizza">Mushroom......................</div>
            <div class="price pizza">Personal: $9<br>16 inch: $13</div>
          </div>

          <div id="item" class="pizza">
            <div class="name menu pizza">Italian Sausage..............</div>
            <div class="price pizza">Personal: $10<br>16 inch: $14</div>
          </div>
          <div id="item" class="pizza">
            <div class="name menu pizza">Broccoli..........................</div>
            <div class="price pizza">Personal: $10<br>16 inch: $13</div>
          </div>
          
          <div id="item" class="pizza">
            <div class="name menu pizza">Buffalo Chicken............</div>
            <div class="price pizza">Personal: $11<br>16 inch: $14</div>
          </div>

          <div id="item" class="pizza">
            <div class="name menu pizza">Bacon and Chicken.......</div>
            <div class="price pizza">Personal: $12<br>16 inch: $16</div>
          </div>

          <div id="item" class="pizza">
            <div class="name menu pizza">House Special................</div>
            <div class="price pizza">Personal: $14<br>16 inch: $18</div>
            <p>Cheese, pepperoni, sausages, onions, mushrooms, and peppers.</p>
          </div>

          <h5>Available Toppings</h5>

          <div id="item" class="menu">
            <div class="name menu">Meat Topping:</div>
            <div class="name menu">Veggie/extra cheese:</div>
            <div class="price">add $1.50</div><br>
            <div class="price">add $1.00</div>
            <p>Feta, Mushroom, Olive, Broccoli, Spinach, Peppers, Onions, Pepperoni, Sausage, bacon, Hamburger, Ham, Pineapple, Chicken, Extra Cheese</p>
          </div>

        <h5>Sandwiches</h5>

          <div id="item" class="menu">
            <div class="name menu">Classic Burger</div>
            <div class="price">$10</div>
            <p>Lettuce, tomato, american cheese, bacon.</p>
          </div>

          <div id="item" class="menu">
            <div class="name menu">Steak Bomb Sub</div>
            <div class="price">$9</div>
            <p>Grilled steak with american cheese, mushrooms, onions, and peppers.</p>
          </div>

          <div id="item" class="menu">
            <div class="name menu">Grilled Chicken Club</div>
            <div class="price">$8</div>
            <p>Bacon, lettuce, tomato and mayo.</p>
          </div>

          <div id="item" class="menu">
            <div class="name menu">Chicken Parmesan Sandwich</div>
            <div class="price">$9</div>
            <p>Chicken breaded with italian bread crumbs, marinara sauce and mozzarella</p>
          </div>

          <div id="item" class="menu">
            <div class="name menu">Reuben Sandwich</div>
            <div class="price">$8</div>
            <p>Corned beef, sauerkraut, swiss cheese, and Thousand Island dressing on grilled marble rye bread.</p>
          </div>

          <div id="item" class="menu">
            <div class="name menu">Chicken Ceasar Wrap</div>
            <div class="price">$7</div>
            <p>Romaine, Parmesan cheese with creamy dressing.</p>
          </div>

       
          <br>

     <h5>Desserts</h5>
          <div id="item" class="menu">
            <div class="name menu">Apple Pie a La Mode</div>
            <div class="price">$5.99</div>
          </div>

          <div id="item" class="menu">
            <div class="name menu">Brownie Sundae</div>
            <div class="price">$5.99</div>
          </div>

          <div id="item" class="menu">
            <div class="name menu">Chocolate Lovin' Cake</div>
            <div class="price">$6.99</div>
          </div>

          <div id="item" class="menu">
            <div class="name menu">Creme Brulee</div>
            <div class="price">$5.99</div>
          </div>

          <div id="item" class="menu">
            <div class="name menu">Key Lime Pie</div>
            <div class="price">$5.99</div>
          </div>

          <div id="item" class="menu">
            <div class="name menu">Fotini's homemade Baklava</div>
            <div class="price">$4.99</div>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>
